<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span jhiTranslate="home.title">Bienvenue dans MyStock</span></h1>

    <div [ngSwitch]="account !== null">

      <div *ngSwitchCase="true" class="menu">
        <div>
          <fa-icon icon="calendar-alt" [fixedWidth]="true"></fa-icon>
        <span id="accueil" *ngIf="account">{{ currentDate }}</span>
      </div>

        <div class="container">
          <div *ngIf="isAdmin" class="box">
            <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
            <h2 jhiTranslate="home.utilisateur">Nombre total d'utilisateurs</h2>
            <h1>{{ numberOfUsers }}</h1>
          </div>
          <div class="box">
            <fa-icon icon="list" [fixedWidth]="true"></fa-icon>
            <h2 jhiTranslate="home.article">Nombre total d'articles</h2>
            <h1>{{ numberOfArticles }}</h1>
          </div>
        </div>
      </div>
      <button class="btn_conn" *ngSwitchCase="false">
        <a class="conn" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">Se Connecter</a>
      </button>

      <button class="btn_creer" *ngSwitchCase="false">
        <a class="creer" routerLink="/account/register" jhiTranslate="global.messages.info.register.link">Créer un compte</a>
      </button>
    </div>
  </div>
</div>
